.animate-input {
  position: relative;
  width: 100%;
  height: 50px;
}

.animate-input-placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  transition: font-size .3s ease, top .3s ease;
}

.animate-input-placeholder:hover {
  cursor: text;
}

.animate-input-control:focus + .animate-input-placeholder  {
  font-size: 14px;
  top: 10px;
  transition: font-size .3s ease, top .3s ease;
}

.animate-input-control:not(:placeholder-shown) + .animate-input-placeholder {
  font-size: 14px;
  top: 10px;
  transition: font-size .3s ease, top .3s ease;
}

.animate-input-control {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8!important;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 20px!important;
  
}

.animate-input-control:focus {
  color: #000;
}  

.animate-input-eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 20px;
  height: 20px;
}

.animate-input-eye img {
  opacity: .3;
}