.auth {
  position: relative;
}

.auth-modal-form {
  position: relative;
  width: 600px;
  min-height: 500px;
  background-color: #FFF;
  border-radius: 10px;
  padding: 50px;
  z-index: inherit;
  transform: translateY(0);
  animation: authModalAppear .3s ease forwards;
}

@keyframes authModalAppear {
  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.auth-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.auth-title-logo {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.auth-title-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.auth-title-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  line-height: 33px;
  font-weight: 500;
}

.auth-input {
  max-width: 400px;
  height: 50px;
  margin-bottom: 10px;
}

.auth-reset {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #2D75E1;
  text-decoration: underline;
  margin-left: auto;
  cursor: pointer;
}

.auth-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  width: 100%;
  margin-top: 40px;
}

.auth-footer-link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #2D75E1;
  cursor: pointer;
}

.auth-footer-button {
  width: 150px;
  height: 40px;
  background-color: #2D75E1!important;
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #FFF;
  cursor: pointer;
}