.images-carousel {
    width: 100%;
}

.images-carousel-item {
    position: relative;
    width: 100px;
    height: 100px;
}

.images-carousel-item img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}